<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.arjungupta08.horizontal_calendar_date" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".viewmodel.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroomersVendor"
        tools:targetApi="31">
        <activity
            android:name=".activity.ViewOnGroomers"
            android:exported="false" />

        <activity
            android:name=".activity.Rating"
            android:exported="false" />
        <activity
            android:name=".activity.BookingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EnterOTP"
            android:exported="false" />
        <activity
            android:name=".activity.CreateInstaTemplate"
            android:exported="false" />
        <activity
            android:name=".activity.HelpList"
            android:exported="false" />
        <activity
            android:name=".activity.AddHelp"
            android:exported="false" />
        <activity
            android:name=".activity.BankInformation"
            android:exported="false" />
        <activity
            android:name=".activity.MySlot"
            android:exported="false" />
        <activity
            android:name=".activity.ManageSlots"
            android:exported="false" />
        <activity
            android:name=".activity.ServiceList"
            android:exported="false" />
        <activity
            android:name=".activity.AddServiceDetails"
            android:exported="false" />
        <activity
            android:name=".activity.AboutYourCredentials"
            android:exported="false" />
        <activity
            android:name=".activity.Marketing"
            android:exported="false" />
        <activity
            android:name=".activity.Checkout"
            android:exported="false" />
        <activity
            android:name=".activity.Settings"
            android:exported="false" />
        <activity
            android:name=".activity.UploadCover"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterSuccess"
            android:exported="false" />
        <activity
            android:name=".activity.ServiceSetup"
            android:exported="false" />
        <activity
            android:name=".activity.UploadOwnerIdentity"
            android:exported="false" />
        <activity
            android:name=".activity.YourAddress"
            android:exported="false" />
        <activity
            android:name=".activity.About"
            android:exported="false" />
        <activity
            android:name=".activity.SelectLanguage"
            android:exported="false" />
        <activity
            android:name=".activity.Welcome"
            android:exported="false" />
        <activity
            android:name=".activity.Register5"
            android:exported="false" />
        <activity
            android:name=".activity.Register4"
            android:exported="false" />
        <activity
            android:name=".activity.Register3"
            android:exported="false" />
        <activity
            android:name=".activity.Register2"
            android:exported="false" />
        <activity
            android:name=".activity.OrderLists"
            android:exported="false" />
        <activity
            android:name=".activity.OrderDetail"
            android:exported="false" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".activity.Register"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.groomers.groomersvendor.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".helper.NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>